[flake8]
; Select all
select = A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z

max-complexity = 18
max-line-length = 88
exclude = .git, .eggs, __pycache__, build, dist, __init__.py
; D1XX: Missing Docstrings
; D200: One-line docstring should fit on one line with quotes
; D205: 1 blank line required between summary line and description
; D4XX: Docstring Content Issues
; N812 lowercase imported as non lowercase. Allow "import torch.nn.functional as F"
; E203: whitespace before ':'. E203 is not PEP 8 compliant
; W503: line break before binary operator. W503 is not PEP 8 compliant
; E800: Found commented out code
; T001: print found
; T100: fixme found (FIXME)
; T101: fixme found (TODO)
; T003: pprint found
; C4XX: ignore all Flake8 comprehensions
; BLK100: ignore Black would make changes
ignore = D1, D200, D205, D4, N812, E203, W503,
         E800,  T001, T100, T101, T003, C4, BLK100
copyright-check = True
copyright-author = Numenta
copyright-regexp = Copyright\s+\(C\)\s+\d{4},?\s+Numenta
inline-quotes = double

